* {
    box-sizing:border-box;
    margin: 0;
}


html {
    color: #ffffff;
    /* set text color to white */
    font-size: 30px;
    font-family: "arial", "sans-serif";
}

body {
    background-color:rgba(135, 206, 235, 0.63);
    background-size:cover;
    background-position: left;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* use 100% of the view height (vh) so image doesn't repeat, but fills space instead) */
}

h1,
h2 {
    
    font-weight: 400;
}

.h1-title,
.h2-title,
.ul-title {
    margin-left: 100px;
    margin-right: 100px;
    
}


a {
    padding: 0px 10px 0px 0px;
    /* only give some space to the right of anchors (links) */
    color: #ffffff;
    /* set anchor color to white */
}

p {
    width: 75%;
    max-width: 500px;
}

img {
    padding: 0px 10px 0px 0px;
    /* only give some space to the right of images */
}

.image-box {
    width: 25%;
    padding: 15px;
    display: inline-block;
}
#pics-paragraph{
	text-align: center;
}
.feature-pics{
    display: flex;
   justify-content: center
}
#puppy-paragraph{
    text-align: center;
    font-size: 60px
}


.p-quote {
    background-color: #810aad;
    border-radius: 25px;
    padding: 10px;
    width: 50%;
    margin-top: 5%;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
    font: 300px;
    font-size: 30px;
    display: table
    
    
  
}

.main-nav {
    text-transform: uppercase;
    text-decoration-color: #810ec9;
    font-size: 250%;
}


header nav{
flex:1;

}
header nav ul{
    display:flex;
        justify-content:flex-start;
}

header nav li{
    list-style: none;
    padding: 1em;
    
}
main{
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
    font-size: 35px;
    
}
.herotext{
    padding:3em;
    display:flex;
    flex-direction: column;
    flex:5;
}
.section-features {
    width: 50%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    padding: 10px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    
}

.bottom-img {
    height:300px;
    width: auto;
}



.logo{
height:4em;
}
header{
    display:flex;
        align-items:center;
    background-color:#ebbebe;
        font-size: 40px;
}
header nav{
    flex:1;
}

	

@media screen and (max-width:30rem){
    header,
    main,
    footer {
        flex-direction: column;
    }
}